<p class="text-center text-gray-500 text-xs">
    &copy; <%= Date.today.year %> <a href="https://github.com/Miliyonayalew" class="text-gray-500 underline">Miliyon Ayalew</a>. All rights reserved.
</p>
